







   
  .header {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 93%, 89%));
    color: #bb3f3f;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
    margin : auto;
    margin-top :-50px;

    z-index: 1;
    opacity:70%;
  }
  
  .container{
    width : 100%;
    height : 120vh;
    background-image: url(./images/background.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./images/background.jpg');
    background-position:center;
    background-size:cover;
    padding-left: 8%;
    padding-right: 8%;
box-sizing: border-box;
    }
    
    .topnav{
        height:12%;
        display:flex;
        align-items:center;
    }
    .logo{
        margin-top: 40px;
        width:10%;
        cursor:pointer;
        
    }
    nav{
flex:1;
text-align:right;
margin-bottom:10%;
margin-top:10%;
    }
    nav ul li{
list-style:none;
display:inline-block;
margin-left: 100%;
    }
   
    .row
    {
        display:flex;
        height: 88%;
        align-items: top;
    }
    .col{
        flex-basis: 50%;
    }
    h1{
        color:aliceblue;
        font-size: 10vh;
    }
    .mainpara{
        font-size: 2vh;
        color:grey;
    }
    .modebutton{
        width:100%;
        font-size: 20px;
        font-weight: bold;
        padding: 12px 10px;
        background: rgb(255, 255, 255);
        border:0;
        border-radius: 20%;
        outline: none;
        margin-top:70%;
        margin-bottom:10px;
        box-shadow: 10px 10px;
        transition:0.5s;
        
    }
    button:hover{
        transform:scale(1.4);

    }
    .block{

        width:30%;
        height:17%;
        display:inline-block;
        border-radius: 10px;
       /* padding: 15px 25px;*/
       padding:1% 1%;
        box-sizing: border-box;
        cursor:pointer;
        margin:5%;
     /* background-image:url(./images/skull.png);
      /*
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./images/skull.jpg');
        */
        background-position: center;
        background-size: cover;
        transition: transform 0.5s;
        position: sticky;
    }
    
    .img{
        width:125%;
        height:125%;
        border-radius: 10px;
        align-content: end;
        transition: transform 1s;

    }
    .block:hover{
        transform:scale(1.3);
       

       /* filter: blur(5px);*/

    }
    .block .img:hover{
        filter: blur(5px);
    }
   
    
    h4 {
        top: 5%; 
        left:30px;
        font-weight: bolder;
        position: absolute;
        
    }
    
    .content {
        top: 50px; 
        left: 30px; 
        margin-top: 0;
        position: absolute;
        font-size: 1.4vh;
      
    }
    .like{
        border-radius: 20px;
        background: linear-gradient(red,pink);

    }
 
.rotate {
    transform: rotateY(180deg);
  }
  .favlist{
    color: rgb(143, 143, 143);
    font-size: 1.7vh;
  }
  .dark-mode .container {
    background: none;
  }
  
  .dark-mode h1 {
    color: black;
  }